@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
select {
  outline: none;
  border: none;
}
body {
  background-color: var(--color-background);
  color: var(--color-text);
  min-width: 300px;
}

:root {
  --color-primary: #4f46e5; /* Azul primario */
  --color-secondary: #febb02; /* Amarillo secundario */
  --color-background: #1f2937; /* Fondo oscuro */
  --color-text: #ffffff; /* Texto blanco */
}
